In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df9 = pd.read_excel(r'C:\Users\billy\OneDrive\Рабочий стол\data\Неофициальный сводный рейтинг регионального этапа по экономике 2021_2022.xlsx', sheet_name=0)
df9 = df9.iloc[:, 0:2]

In [21]:
df10 = pd.read_excel(r'C:\Users\billy\OneDrive\Рабочий стол\data\Неофициальный сводный рейтинг регионального этапа по экономике 2021_2022.xlsx', sheet_name=1)
df10 = df10.iloc[:, 0:2]

In [22]:
df11 = pd.read_excel(r'C:\Users\billy\OneDrive\Рабочий стол\data\Неофициальный сводный рейтинг регионального этапа по экономике 2021_2022.xlsx', sheet_name=2)
df11 = df11.iloc[:, 0:2]

In [55]:
df9.head(0)

Empty DataFrame
Columns: [ Регион, Сумма баллов ]
Index: []

## Посчитаем число мест на закле

In [69]:
final = pd.read_excel(r'C:\Users\billy\OneDrive\Рабочий стол\data\ЗЭ ВОШ экономика 2022.xlsx')
final = final.dropna()
final.columns = final.iloc[0, :]
final = final.iloc[2:]

In [39]:
final[final['Класс'] <= 9].shape

(107, 6)

In [38]:
final[final['Класс'] == 10].shape

(112, 6)

In [40]:
final[final['Класс'] == 11].shape

(121, 6)

### Похоже, что 9 дали 110 мест, а 10 и 11 по 120 мест

# Предскажим проходные для прошлого года))

Посчитаем число автопроходников

In [44]:
final = pd.read_excel(r'C:\Users\billy\OneDrive\Рабочий стол\data\ЗЭ ВОШ экономика 2021.xlsx')

In [53]:
final[(final['Класс'] == 8) & (final['Тип награды'] != 'Участник')].shape

(0, 6)

In [50]:
final[(final['Класс'] == 9) & (final['Тип награды'] != 'Участник')].shape

(34, 6)

In [52]:
final[(final['Класс'] == 10) & (final['Тип награды'] != 'Участник')].shape

(57, 6)

Итого: 
- в 9 нет автопроходников, 
- в 10: 34 автопроходника, 
- в 11: 57 автопроходников

In [65]:
df9.columns = ['регион', 'сумма баллов']
df10.columns = ['регион', 'сумма баллов']
df11.columns = ['регион', 'сумма баллов']

In [103]:
#9 class
for prohod in range(100, 200):
    avtoprohod = 0
    novie = df9[df9['сумма баллов'] >= prohod].shape[0]
    if avtoprohod + novie <= 100:
        print(f'Автопроход: {avtoprohod}, новые: {novie}')
        print(f'проходной: {prohod}')
        print('-----------------------')
        break

Автопроход: 0, новые: 100
проходной: 137
-----------------------

In [101]:
#10 class
for prohod in range(100, 200):
    avtoprohod = 34
    novie = df10[df10['сумма баллов'] >= prohod].shape[0]
    if avtoprohod + novie <= 120:
        print(f'Автопроход: {avtoprohod}, новые: {novie}')
        print(f'проходной: {prohod}')
        print('-----------------------')
        break

Автопроход: 34, новые: 84
проходной: 158
-----------------------

In [109]:
#11 class
for prohod in range(100, 200):
    avtoprohod = 57
    quote = 0
    novie = df11[df11['сумма баллов'] >= prohod].shape[0]
    if novie + avtoprohod <= 120:
        print(f'Автопроход: {avtoprohod}, новые: {novie}')
        print(f'проходной: {prohod}')
        print('-----------------------')
        break

Автопроход: 57, новые: 62
проходной: 176
-----------------------

## Если распределение баллов и число мест на закле не меняется, то какие будут проходные?

In [2]:
final = pd.read_excel(r'C:\Users\billy\OneDrive\Рабочий стол\data\ЗЭ ВОШ экономика 2022.xlsx')
final = final.dropna()
final.columns = final.iloc[0, :]
final = final.iloc[2:]

In [4]:
final[(final['Статус (победитель/ призер/ участник)'] != 'Участник') & (final['Класс'] < 9)].shape

(11, 6)

In [118]:
final[(final['Статус (победитель/ призер/ участник)'] != 'Участник') & (final['Класс'] == 9)].shape

(45, 6)

In [119]:
final[(final['Статус (победитель/ призер/ участник)'] != 'Участник') & (final['Класс'] == 10)].shape

(51, 6)

In [128]:
#11 class
for prohod in range(100, 200):
    avtoprohod = 11
    quote = 0
    novie = df9[df9['сумма баллов'] >= prohod].shape[0]
    if novie + avtoprohod <= 100:
        print(f'Автопроход: {avtoprohod}, новые: {novie}')
        print(f'проходной: {prohod}')
        print('-----------------------')
        break

Автопроход: 11, новые: 88
проходной: 142
-----------------------

# Проход в этом году

- 98 мест в 9
- 75 мест в 10
- 69 в 11. 

проходят по баллам

In [68]:
def hui(x):
  m = x.split()
  if len(m) == 2:
    answer = f'{m[0]} {m[1][0]}.'
  elif len(m) == 3:
    answer = f'{m[0]} {m[1][0]}. {m[2][0]}.'
  return answer

In [73]:
final['Ф.И.О.'] = final['Фамилия, имя, отчество'].apply(lambda x: hui(x))
final.head()

12,№ п/п,"Фамилия, имя, отчество",Субъект РФ,Класс,Результат\n(баллы),Статус (победитель/ призер/ участник),Ф.И.О.
15,1,Делозари Иван Дмитриевич,Город Москва,9,85,Победитель,Делозари И. Д.
16,2,Бортников Антон Аркадьевич,Город Москва,9,77,Победитель,Бортников А. А.
17,3,Жукова Елизавета Владиславовна,Город Москва,9,75,Победитель,Жукова Е. В.
18,4,Угрюмов Никита Викторович,Город Москва,9,75,Победитель,Угрюмов Н. В.
19,5,Лещинский Андрей Евгеньевич,Город Москва,9,73,Победитель,Лещинский А. Е.

In [78]:
reg = pd.read_csv(r'C:\Users\billy\OneDrive\Рабочий стол\data\РЭ ВОШ экономика 2023.csv', sep='\t')

In [81]:
tmp = reg.merge(final, on='Ф.И.О.')

In [90]:
final

12,№ п/п,"Фамилия, имя, отчество",Субъект РФ,Класс,Результат\n(баллы),Статус (победитель/ призер/ участник),Ф.И.О.
15,1,Делозари Иван Дмитриевич,Город Москва,9,85,Победитель,Делозари И. Д.
16,2,Бортников Антон Аркадьевич,Город Москва,9,77,Победитель,Бортников А. А.
17,3,Жукова Елизавета Владиславовна,Город Москва,9,75,Победитель,Жукова Е. В.
18,4,Угрюмов Никита Викторович,Город Москва,9,75,Победитель,Угрюмов Н. В.
19,5,Лещинский Андрей Евгеньевич,Город Москва,9,73,Победитель,Лещинский А. Е.
...,...,...,...,...,...,...,...
354,117,Лахнов Кирилл Алексеевич,Владимирская область,11,29,Участник,Лахнов К. А.
355,118,Захаров Алексей Сергеевич,Хабаровский край,11,28,Участник,Захаров А. С.
356,119,Жохов Олег Дмитриевич,Мурманская область,11,22,Участник,Жохов О. Д.
357,120,Агафонов Павел Андреевич,Томская область,11,18,Участник,Агафонов П. А.
358,121,Напольников Никита Сергеевич,Тверская область,11,18,Участник,Напольников Н. С.

In [105]:
regions = final[(final['Статус (победитель/ призер/ участник)'] != 'Участник') & (final['Класс'] == 9)]['Субъект РФ'].unique()

In [99]:
final[(final['Субъект РФ'] == 'Город Москва') & (final['Статус (победитель/ призер/ участник)'] != 'Участник') & (final['Класс'] == 9)].shape[0] / final[(final['Статус (победитель/ призер/ участник)'] != 'Участник') & (final['Класс'] == 9)].shape[0]

0.5777777777777777

In [257]:
df=pd.read_excel(r'C:\Users\billy\OneDrive\Рабочий стол\data\geg.xlsx')

In [262]:
df[df['Призер/побед закла?'] == 0]

                    Регион  Сумма баллов  Призер/побед закла?
0    Удмуртская Республика           190                    0
3             город Москва           185                    0
4             город Москва           183                    0
5             город Москва           183                    0
6             город Москва           183                    0
..                     ...           ...                  ...
99            город Москва           121                    0
100           город Москва           121                    0
101     Тамбовская область           120                    0
102           город Москва           120                    0
103  город Санкт-Петербург           120                    0

[80 rows x 3 columns]

In [265]:
df[(df['Призер/побед закла?'] == 0) & (df['Сумма баллов'] > 121)].shape

(74, 3)

In [270]:
df[(df['Призер/побед закла?'] == 0) & (df['Сумма баллов'] > 126)].shape

(63, 3)

In [275]:
df[(df['Призер/побед закла?'] == 0) & (df['Сумма баллов'] > 133)].shape

(53, 3)

In [280]:
df = pd.read_excel(r'C:\Users\billy\OneDrive\Рабочий стол\data\Копия Регион(неоффииальный рейтинг).xlsx', sheet_name=0)

In [277]:
df = df.iloc[:, :3]

In [296]:
df[df['Балл на РЭ'] >= 145].shape

(72, 6)

In [295]:
48+51

99

119
118
118
118
118

# Итого:

В прошлом году было 107 мест в 9 классе, 112 мест в 10 классе и 121 мест в 11

Будем считать пессимистичным исходом, когда мест будет 100, в среднем 110 и оптимистичным когда их будет 120

В этом году:
- 11 автопроходников в 9, 
- 45 автопроходников в 10 и 
- 51 автопроходник в 11 

Следовательно:
- (89; 99, 109) мест в 9, 
- (55; 65; 75) мест в 10, и 
- (39, 49, 59) мест в 11. 

Очистим рейтинг econ talk от автопроходников и посчитаем балл последнего прошедшего человека в каждом случае:

- (113, 118, 125) баллов в 9
- (125, 126, 133) баллов в 10
- (154, 162, 167) баллов в 11